.App {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.nav-bar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 20px;
}

.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex: 0 0 60%;
}

.product {
  margin: 10px;
  border: 1px solid gray;
}

.cart-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 25%;
  border: 1px solid gray;
}

.action {
  display: flex;
}

.product-image{
  height: 300px;
  width: 250px;
}

.product .title, .action {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}