.App {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.nav-bar {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  height: 50px;
  background-color: black;
  color: white;
  font-size: 20px;
  position: sticky;
  top: 0px;
}

.header-menu a {
  padding: 3px 5px;
  margin: 5px;
  border-radius: 5px;
  font-size: 16px;
  text-decoration: none;
  color: white;
  border: 2px solid white;
}

.search-bar {
  height: 30px;
  width: 300px;
  margin-left: 15px;
  border-radius: 3px;
  padding-left: 5px;
}

.product-list {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  flex: 0 0 60%;
}

.product {
  margin: 10px;
  border: 2px solid gray;
  width: 290px;
}

.cart-bar {
  display: flex;
  flex-direction: column;
  text-align: center;
  flex: 0 0 25%;
  border: 2px solid gray;
}

.action {
  display: flex;
  border-top: 2px solid gray;
}

.product-image{
  height: 280px;
  display: space-between;
}

.product .title, .action {
  display: flex;
  justify-content: space-between;
  padding: 10px;
}

.add-to-cart {
  height: 25px;
  background-color: #27990b;
  color: white;
  font-weight: 600;
  border: none;
  align-items: center;
}

.price {
  font-size: 15px;
  font-weight: bold;
  align-items: center;
}

.cart-items {
    display: flex;
    padding: 10px;
    margin: 2px;
    text-align: center;
    border: 0.5px solid powderblue;
    box-shadow: 0.5px 0.5px 0.5px 0.5px gray;
}

.item-info {
  margin-left: 5px;
  width: 100%;
}

.item-info span {
  justify-content: space-between;
  margin: 10px;
}

.action-buttons  {
  justify-content: space-between;
}

.action-buttons button {
  height: 35px;
  font-weight: bold;
  border: none;
  padding: 10px;
  border-radius: 40px;
}

.clear-cart-button {
  background-color: #EDE04D;
  color: black;
  box-shadow: 2px gray;
}

.checkout-button {
  height: 35px;
  font-weight: bold;
  border: none;
  padding: 10px;
  border-radius: 40px;
  background-color: #3b88c3;
  color: white;
}

.address-area{
  height: 30px;
  width: 70%;
  border: 0.5px solid gray;
  border-radius: 5px;
}

.change-theme {
  height: 35px;
  padding: 10px;
  margin-left: 10px;
  font-weight: bold;
  color: gray;
  background-color: white;
  border: none;
  border-radius: 5px;
}

.theme-mode {
  font-weight: bold;
  font-size: 18px;
  margin: 0px 5px 0px 15px;
}

.cart-dark, .product-dark, .body-dark {
  background-color: black;
  color: white;
}